modules = ["python-base-3.12"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["poetry", "run", "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "5000"]

[workflows]
runButton = "Run with Poetry"

[[workflows.workflow]]
name = "Run with Poetry"
author = 17700792
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "poetry run uvicorn main:app --host 0.0.0.0 --port 5000 --reload"

[[ports]]
localPort = 5000
externalPort = 80